.door{
  height: 100%;
  width: 25px;
  background-color: black;
  position: absolute;
}
.doorLeft{
  left: 49%;
}
.doorRight{
  right: 49%;
}

.sky{
  height: 25px;
  width: 100%;
  background-color: lightblue;
  position: absolute;
}

.skyUp{
  top: 49%;
}

.skyDown{
  bottom: 49%;
}

.ballL, .ballR, .ballT, .ballB{
  width: 25px;
  height: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.ballT{
  top: 25%;
  left: 50%;
}
.ballB{
  top: 75%;
  left: 50%;
}
