body{
  background-color: #60b7c4;
}

.sand, .sandDune, .sandDune2, .sandDune3{
  background-color: #e6ca7e;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -2px 2px grey;
}
.sandDune, .sandDune3{
  height: 60px;
  width: 60%;
  border-radius: 50%;
  left: 20%;
}
.sandDune2{
  height: 80px;
  width: 30%;
  border-radius: 90%;
  left: 45%;
}
.sandDune3{
  left: 65%;
}

.bubblewrapper, .bubblewrapper2, .bubblewrapper3, .bubblewrapper4 {
    display: block;
    position: absolute;
    height: 100%;
    width: 10px;
    left: 50%;
}
.bubblewrapper2 {
    left: 25%;
}
.bubblewrapper3 {
    left: 75%;
}
.bubblewrapper3 {
    left: 60%;
}

.bubblepath {
    height: 100%;
    padding: 0 1px;
    display: table-cell;
    width: 600px;
}

.bubble {
    opacity: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    bottom: 0;
}
.bubble2 {
    height: 20px;
    width: 20px;
}
