body {
  margin: 0;
  font-family: "Montserrat";
}
[class*='line']{
  stroke:#0ff;
  stroke-width:2;
  position: relative;
  top: 0;
}

.polymorph{
  fill: #398f5a;
}
.tests{
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #f0f;
}
