.door{
  height: 100%;
  background-color: black;
  position: absolute;
}
.doorLeft{
  left: 49%;
}
.doorRight{
  right: 49%;
}

.sky{
  bottom: 0%;
  width: 100%;
  background-color: lightblue;
  position: absolute;
}
